@page "/"
@inherits LayoutComponentBase
@layout MainLayout

<section class="zoom-img" style="background-image: url('assets/images/studentApplication.jpg') ;background-repeat: no-repeat;background-size: cover;">
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-6 pt-5 mt-5">
                <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="400">
                    <h2 class="display-1 ls-1">
                        <span class="fw-bold text-primary">Student </span>
                        <span class="fw-bold">Application</span>
                    </h2>
                </div>
                <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="800">
                    <h3 class="fs-4">Student application platform for course enrollment</h3>
                </div>
                <div class="d-flex gap-3">
                    <div class="welcome position-relative" data-aos="fade-right" data-aos-delay="1200">
                        <a href="#" class="btn btn-primary text-uppercase fs-6 rounded-pill px-4 py-3 mt-3">Get Started</a>
                    </div>
                    <div class="welcome position-relative" data-aos="fade-left" data-aos-delay="1600">
                        <a href="#" class="btn btn-dark text-uppercase fs-6 rounded-pill px-4 py-3 mt-3">Join Nowyi</a>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col">
                    </div>
                    <div class="col">
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>

        <br />


        <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-3 g-0 justify-content-center">
            <div class="col">
                <div class="welcome position-relative" data-aos="fade-up" data-aos-delay="1400">
                    <div class="card border-0 bg-primary rounded-0 p-4 text-light">

                        <div class="row">
                            <div class="col-md-3 text-center">
                                <svg width="60" height="60"><use xlink:href="#fresh"></use></svg>
                            </div>

                            <div class="col-md-9">
                                <div class="card-body p-0">
                                    <h5 class="text-light">Check out our Courses</h5>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="1500">
                    <div class="card border-0 bg-secondary rounded-0 p-4 text-light">
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <svg width="60" height="60"><use xlink:href="#organic"></use></svg>
                            </div>
                            <div class="col-md-9">
                                <div class="card-body p-0">
                                    <h5 class="text-light">View Application Status</h5>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="welcome position-relative" data-aos="fade-up" data-aos-delay="1600">
                    <div class="card border-0 bg-danger rounded-0 p-4 text-light">
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <svg width="60" height="60"><use xlink:href="#delivery"></use></svg>
                            </div>
                            <div class="col-md-9">
                                <div class="card-body p-0">
                                    <h5 class="text-light">View Status</h5>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>