@inherits LayoutComponentBase

                <AuthorizeView>
                    <Authorized>

                <p class="text-white text-center">You are not authorized</p>
                <UserMenu/>
                    </Authorized>
                        
                    <NotAuthorized>
                        <MainMenu/>
                    </NotAuthorized>
                </AuthorizeView>