@page "/menu"
@inherits LayoutComponentBase

<ul class="nav">

    <li class="nav-item">
        <a class="nav-link" href="index.html">
            <span class="menu-title">Home</span>
            <i class="mdi mdi-home menu-icon"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
            <span class="menu-title">Applications</span>
            <i class="menu-arrow"></i>
            <i class="mdi mdi-crosshairs-gps menu-icon"></i>
        </a>
        <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                    <a class="nav-link" href="pages/ui-features/buttons.html">Enrollment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages/ui-features/dropdowns.html">Application Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages/ui-features/typography.html">Courses</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="pages/ui-features/typography.html">Re-Admission</a>
                </li>
            </ul>
        </div>
    </li>
   
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#forms" aria-expanded="false" aria-controls="forms">
            <span class="menu-title">Courses</span>
            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        </a>
        <div class="collapse" id="forms">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                    <a class="nav-link" href="pages/forms/basic_elements.html">Form Elements</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
            <span class="menu-title">Statistics</span>
            <i class="mdi mdi-chart-bar menu-icon"></i>
        </a>
        <div class="collapse" id="charts">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                    <a class="nav-link" href="pages/charts/chartjs.html">ChartJs</a>
                </li>
            </ul>
        </div>
    </li>
   
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
            <span class="menu-title">User Profiles</span>
            <i class="menu-arrow"></i>
            <i class="mdi mdi-lock menu-icon"></i>
        </a>
        <div class="collapse" id="auth">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                    <a class="nav-link" href="pages/samples/blank-page.html"> Accounts </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages/samples/login.html"> Craete </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages/samples/register.html"> Delete </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages/samples/register.html"> Update </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages/samples/register.html"> Read </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages/samples/error-404.html">Chat </a>
                </li>

            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="docs/documentation.html" target="_blank">
            <span class="menu-title">Documentation</span>
            <i class="mdi mdi-file-document-box menu-icon"></i>
        </a>
    </li>
</ul>